  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f2f2;
  }
  
  .navbar {
    height: 60px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  
  .nav-logo {
    height: 40px;
    width: 80px;
    background-image: url("amazon logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .border {
    border: 2px solid transparent;
  }
  
  .border:hover {
    border: 1.5px solid white;
  }
  
  .nav-address {
    display: flex;
    align-items: center;
  }
  
  .add-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .add-icon i {
    margin-right: 5px;
  }
  
  .nav-search {
    display: flex;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 3px;
    padding: 0 10px;
  }
  
  .search-select {
    
    width: 70px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    font-size: 0.9rem;
    color: #111;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #111;
  }
  
  .search-icon {
    width: 40px;
  background-color: rgb(197, 197, 91);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    cursor: pointer;
  }
  
  
  .nav-signin,
  .nav-return,
  .nav-cart {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .nav-second {
    margin-left: 5px;
  }
  
  .fa {
    font-size: 20px;
  }
  
  .fa-cart-shopping {
    font-size: 25px;
  }
  
  .pannel {
    height: 40px;
    background-color: #131111;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 20px;
  }
  
  .pannel-ops {
    display: flex;
    margin-left: auto;
  }
  
  .pannel-ops p {
    margin-right: 10px;
  }
  
  .pannel-deals {
    padding: 0 20px;
    background-color: rgb(20, 19, 19);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .hero-section{
    background-image: url(hero.jpeg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
  }

  .hero-message{
    background-color: white;
    color: #111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    
    width: 80%;
    margin-bottom: 25px;

  }
  .hero-message a{
    color: #007185;
  }

  .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #6c888d;
  }

  .box{
   border: 2px solid black;
   height: 400px;
   width: 23%;
   background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;
  }
  .box-img{
height: 300px;
background-size: cover;
margin-top: 1rem;
margin-bottom:1rem;

  }
  .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .box-content{
    color: #007185;
  }
  footer{
    margin-top: 10px;
  }
  .foot-pannel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }

  .foot-pannel2{

    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
  }

  ul{
    margin-top: 20px;
  }

  ul a{
display: block;
font-size: 0.8rem;
margin-top: 10px;
color: #dddddd;
  }

  .foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 65px;
display: flex;
justify-content: center;
align-items: center;
  }

  .logo{
    
      height: 50px;
      width: 100px;
      background-image: url("amazon logo.jpeg");
      background-size: cover;
      
    
  }

  .foot-pannel4{

    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size:0.8rem;
    text-align: center;
   

  }

  .pages{

padding-top: 25px;
  }

  .copyright{
    padding-top: 5px;


  }

